* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden {
    display: none;
}
#container{
    display: flex;
    flex-direction: column;
}
#outils-1 {
    max-width: 40%;
    margin: 10px;
    padding: 10px;
}
#facturation {
    max-width: 40%;
    margin: 10px;
    padding: 10px;
}
#livraison {
    max-width: 40%;
    margin: 10px;
    padding: 10px;
}
span {
    color: red;
}
input,label {
    display: block;
}
button {
    max-width: fit-content;
    margin-left: 20px;
}